.pverde {
    color: #28A745;
}

section h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.pgris {
    color: #707070;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.card p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card-img-top{
    height: 200px;
}

.card-text{
    height: 200px;
}